#sib_idea_detail
  %div.sib_left
    = render :partial => "ideas/nav", :locals => {:idea => @idea, :endorsement => @endorsement, :noaction=> defined?(noaction) ? true : false }
  %div.sib_right
    = render :partial=>"top_points"