#sib_idea_detail
  %div.sib_right_debate
    = render :partial=>"top_points"
  %div.sib_left_debate
    = render :partial => "ideas/nav", :locals => {:idea => @idea, :endorsement => @endorsement, :noaction=> defined?(noaction) ? true : false }
