- cache(["portlets_news_points",locale,SubInstance.current_id,@inline_translations_enabled], :expires_in => 1.minute) do
  = render(:partial=>"portal/portlets/activity_list", :locals=>{:portlet=>portlet,                                        |
    :activities=>Activity.active.filtered.points_and_docs.for_all_users.item_limit(portlet.portlet_template.item_limit)}) |
  = link_to "#{tr("More", "view/portal/portlets")}...", "/news/points"
