#nav_sub
  %div{:id => "nav_sub_<haml:silent> if ['index'].include?(params[:action]) </haml:silent><haml:block>1</haml:block><haml:silent> elsif ['notifications'].include?(params[:action]) </haml:silent><haml:block>2</haml:block><haml:silent> elsif ['sent'].include?(params[:action]) </haml:silent><haml:block>3</haml:block>"}
    %ul#menu_sub
      %li.tab1
        %span.tab_header
          = link_to tr("Your inbox", "view/inbox/_nav"), :controller => "inbox"
      %li.tab2
        %span.tab_header
          = link_to tr("Notifications", "view/inbox/_nav"), :controller => "inbox", :action => "notifications"
      %li.tab3
        %span.tab_header
          = link_to tr("Sent messages", "view/inbox/_nav"), :controller => "inbox", :action => "sent"
