%img.notification_icon{:border => "0", :height => "16", :src => "/assets/icons/flag_yellow.png", :width => "16"}/
= tr("{sender_name} flagged {priority_name} for review", "view/notifications/_notificationpriorityflagged", :sender_name => link_to(notification.sender.name, notification.sender), :priority_name => link_to(notification.notifiable.name, notification.notifiable))
