- if notification.notifiable.priority.is_successful?
  %img.notification_icon{:border => "0", :height => "16", :src => "/assets/fugue/star.png", :width => "16"}/
  = tr("{priority_name} was completed successfully", "view/notifications/_notificationpriorityfinished", :priority_name => link_to(notification.notifiable.priority.name, notification.notifiable.priority))
- elsif notification.notifiable.priority.is_compromised?
  %img.notification_icon{:border => "0", :height => "16", :src => "/assets/fugue/star_half.png", :width => "16"}/
  = tr("{priority_name} was completed with a compromise", "view/notifications/_notificationpriorityfinished", :priority_name => link_to(notification.notifiable.priority.name, notification.notifiable.priority))
- elsif notification.notifiable.priority.is_failed?
  %img.notification_icon{:border => "0", :height => "16", :src => "/assets/fugue/star_empty.png", :width => "16"}/
  = tr("{priority_name} failed", "view/notifications/_notificationpriorityfinished", :priority_name => link_to(notification.notifiable.priority.name, notification.notifiable.priority))
- elsif notification.notifiable.priority.is_intheworks?
  %img.notification_icon{:border => "0", :height => "16", :src => "/assets/fugue/hammer.png", :width => "16"}/
  = tr("{priority_name} is in the works", "view/notifications/_notificationpriorityfinished", :priority_name => link_to(notification.notifiable.priority.name, notification.notifiable.priority))
