%img.notification_icon{:border => "0", :height => "16", :src => "/assets/icons/user.png", :width => "16"}/
= tr("{sender_name} just joined", "view/notifications/_notificationcontactjoined", :sender_name => link_to(notification.sender.name, notification.sender))
