:css
  #sib_sub_nav {background-image: url(#{SubInstance.current.menu_strip.url(:icon_full)}) !important}
  .sprite_clip {background-image: url(#{SubInstance.current.menu_strip_side.url(:icon_full)}) !important}
  /* nav colors */