%p= tr("Sign up below to set your own ideas for {instance_name}.  You'll get your own page, which you can send to friends and colleagues urging them to sign on to support your ideas.", "view/users/new", :instance_name => tr(current_instance.name,"Name from database"))
= render :partial => "form_long"
