#network_sidebar
  = render :partial => "network/find"
  %br/
  - if logged_in?
    = link_to tr("Send email invitation", "view/user_contacts/_nav"), new_user_contact_path(current_user)
    %br/
    %br/
    - if current_user.contacts_not_invited_count > 0
      = link_to tr("Send invitations to contacts", "view/user_contacts/_nav"), not_invited_user_contacts_path(current_user)
      %br/
      %br/
    = render :partial => "network/invite"
