#fb_activity_feed{:style => "margin-top: 5px;"}
  %fb:activity{:border_color => "#eee", :font => "tahoma", :header => "false", :height => "300", :recommendations => "false", :site => request.host, :width => "218"}
