#footer_container{:align => "center"}
  #footer
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td{:align => "center"}
          = #tr8n_language_strip_tag
      %tr
        %td{:align => "center"}
          %br/
          = tr("About <a href=\"/about\">{instance_name}</a>, the <a href=\"/about/contributors\">contributors</a>, our <a href=\"/about/rules\">rules</a>, and <a href=\"/about/privacy\">privacy policy</a>. Contact us at <a href=\"mailto:{instance_email}\">{instance_email}</a>", "view/shared/_footer", :instance_name => tr(current_instance.name,"Name from database"), :instance_email => tr(current_instance.email,"Name from database"))
