- if @google_translate_enabled_for_locale
  %table
    %tr
      %td
        .cb
          <INPUT TYPE="checkbox" NAME="enable_google_translate" VALUE="1" #{session[:enable_google_translate] ? "CHECKED" : ""} onClick="toggleGoogleTranslate(this)">
      %td
        .gt_text
          = tr("Use Google Translate for content submitted by other users?","views/shared/_google_translate_select")
        .bellow_translate
  - if session[:enable_google_translate]
    #google_branding{:style => "margin-top:7px;"}
    %script{:type => "application/javascript"}
      google.language.getBranding('google_branding');
