%div{:style => "padding:0px 20px 5px 20px;"}
  = tr("Time until top ideas are closed next and sent to the city councils.","countdown")
  %br/
  #countdown_time{:style => "padding-top:5px; padding-left:27px;"}
:javascript
  <haml:silent>     zone = ActiveSupport::TimeZone.new("GMT") 
  </haml:silent>    var time_diff = #{last_weekday_of_the_month_at_noon(DateTime.now.in_time_zone(zone)).to_i-DateTime.now.in_time_zone(zone).to_i};
      var start_now = new Date();
      function updateCTime() {
          now = new Date();
          offset_diff = now-start_now;
  
          diff = time_diff-(offset_diff/1000);
  
          days = Math.floor(diff / (60 * 60 * 24));
          hours = Math.floor(diff / (60 * 60));
          mins = Math.floor(diff / (60));
          secs = Math.floor(diff / 1);
  
          dd = days;
          hh = hours - days * 24;
          mm = mins - hours * 60;
          ss = secs - mins * 60;
  
          if (dd==1) {
              text_to_show =
                dd + ' dagur ' +
                hh + ' klst. ' +
                mm + ' mín. ';
          } else if (dd>1) {
              text_to_show =
                dd + ' dagar ' +
                hh + ' klst. ' +
                mm + ' mín. ';
          } else if (hh>0) {
              text_to_show =
                hh + ' klst. ' +
                mm + ' mín. ' +
                ss + ' sek.';
          } else if (mm>0) {
              text_to_show =
                mm + ' mín. ' +
                ss + ' sek.';
          } else {
              text_to_show =
                ss + ' sek.';
          }
          document.getElementById("countdown_time")
                  .innerHTML = text_to_show;
      }
      updateCTime();
      setInterval('updateCTime()', 1000);
