= form_tag(searches_path, :method => 'get') do
  .magnifier_wrap
    %span.magnifier_image
      %img{:border => "0", :height => "14", :src => "/assets/icons/magnifier.gif", :width => "14"}/
    %span.magnifier_box
      = text_field_tag "q", params[:q], :id => "q_top", :value=>""
