#container
  #topnav.topnav
    Have an account?
    %a.signin{:href => "login"}
      %span Sign in
    = render :partial => "shared/login"
:javascript
    $(document).ready(function() {

        $(".signin").click(function(e) {
            e.preventDefault();
            $("#login_form").toggle();
            $(".signin").toggleClass("menu-open");
        });

        $("fieldset#signin_menu").mouseup(function() {
            return false
        });
        $(document).mouseup(function(e) {
            if($(e.target).parent("a.signin").length==0) {
                $(".signin").removeClass("menu-open");
                $("#login_form").hide();
            }
        });

    });
:javascript
  $(function() {
    $('#forgot_username_link').tipsy({gravity: 'w'});
  });

%ul#sib_top_navigation
%li
SIGN IN
%li.mega
= link_to tr("Sign in", "view/top_navigation"), "/"
.tab_body
  .box_style
%li
%span
  = link_to tr("Notifications", "view/top_navigation"), "#"
%li
%span
= link_to tr("Help", "view/top_navigation"), "#"
