#sib_top_banner
  %div.background
    = image_tag SubInstance.current.top_banner.url(:icon_full), :size => "960x100", :border => 0
  %div.top_navigation
    = render :partial => "shared/top_navigation"
