#sib_top_navigation
  #container
    #topnav.topnav
      - if logged_in?
        %a.notifications{:href => "notifications"}
          %span Notifications
        = render :partial => "shared/notifications"
      %a.signin{:href => "login"}
        %span Sign in
      = render :partial => "shared/login"
      %a.signin.new_idea{:href => "new_idea"}
      = link_to tr("New idea"), "/ideas/new"

  :javascript
    $(document).ready(function() {

        $(".signin").click(function(e) {
            e.preventDefault();
            $("#login_form").toggle();
            $(".signin").toggleClass("menu-open");
        });

        $("#login_form").mouseup(function() {
            return false
        });
        $(document).mouseup(function(e) {
            if($(e.target).parent("a.signin").length==0) {
                $(".signin").removeClass("menu-open");
                $("#login_form").hide();
            }
        });

        $(".notifications").click(function(e) {
            e.preventDefault();
            $("#sib_notifications").toggle();
            $(".notifications").toggleClass("menu-open");
        });

        $("#login_form").mouseup(function() {
            return false
        });
        $(document).mouseup(function(e) {
            if($(e.target).parent("a.notifications").length==0) {
                $(".notifications").removeClass("menu-open");
                $("#sib_notifications").hide();
            }
        });

    });
:javascript
  $(function() {
    $('#forgot_username_link').tipsy({gravity: 'w'});
  });

