#sib_top_banner
  %div.background
    = image_tag SubInstance.current.top_banner.url(:icon_fill), :size => "960x90", :border => 0
  %div.top_navigation
    = render :partial => "shared/top_navigation"
