.header
  .header-wrap
    %div
    = image_tag SubInstance.current.top_banner.url(:icon_full), :size => "1024x80", :border => 0
    %p.hide
      %a{:href => "#content"} Skipt to content
    = render :partial => "shared/top_navigation"
