.priority_name{:id => "priority_#{priority.id}_name"}
  = link_to_unless_current tg(h(priority.name)), priority, :class => "priority_name_link"
  = render :partial=>"priorities/report_content", :locals=>{:priority=>priority}
  = render :partial=>"priorities/flagged", :locals=>{:priority=>priority}
