%li#opposer_link.tab3
  %span.tab_header
    = link_to tr("{count} opposers", "view/priorities/_opposer_link", :count => @priority.down_endorsements_count).html_safe, opposers_priority_url(@priority)
