.finished_priority
  %ul
    - PriorityStatusChangeLog.where(priority_id: @priority.id).order("created_at desc").each do |changelog|
    %li
      .finished_status
        %span.finished_status_date= changelog.date.strftime("%d.%m.%Y")
        - if changelog.content
          %blockquote= simple_format(changelog.content.html_safe)
        - elsif changelog.subject
          %blockquote= changelog.subject
