- partial_name = portlet.portlet_template.partial_name
- portlet_locals = send(locals_data_function,portlet.portlet_template.item_limit, portlet.portlet_template.tag)
= render(:partial => "/portal/portlets/#{partial_name}", :locals=>{:portlet=>portlet, :portlet_locals=>portlet_locals})
= render(:partial => "portlet_footer", :locals=>{:portlet=>portlet, :portlet_locals=>portlet_locals}) unless request.xhr?
