  #add_portlet
    %a#portlets-menu.fg-button.fg-button-icon-right.ui-widget.ui-state-default.ui-corner-all{:href => "#"}
      %span.ui-icon.ui-icon-triangle-1-s
      = tr("Add portlet", "view/portal/_menu")
    #portlets.hidden
      %ul
        - PortletTemplateCategory.by_weight.all.each do |template_category|
          - if not template_category.sub_instance_id or (Partner.current and Partner.current.id == template_category.sub_instance_id)
            %li
              %a{:href => "#"}= tr(template_category.name, "view/portal/_menu").titleize
              %ul
                - template_category.portlet_templates.each do |portlet_template|
                  %li
                    %a{:href => "#"}
                      = tr(portlet_template.name, "view/portal/_menu").titleize
                      \-#{portlet_template.id}
