.col-group
  .col-10.col-offset-1
    .col-content
      #infopage
        %h1= tr("Contributors", "view/about/privacy")
        %ul
          %li R&oacute;bert Vi&eth;ar Bjarnason - Brain, RoR code, management
          %li Gunnar Gr&iacute;msson - Brain, HTML/CSS code, management, translations
          %li &Oacute;skar J. Sandholt - Brain, marketing, management
          %li Sm&aacute;ri McCarthy - Brain, code
          %li Hinrik &Ouml;rn Sigur&eth;sson - Brain, RoR code
          %li Dagn&yacute; Reykjal&iacute;n - Brain, design
          %li Jim Gilliam - Brain, code
          %li &THORN;orvaldur &Oacute;ttar Gu&eth;laugsson - Brain, design
          %li Goddur - Brain, design
          %li Da&eth;i Ing&oacute;lfsson - Brain
          %li Rifa Mukhlisa - HTML/CSS code
          %li &Aacute;sta Olga Magn&uacute;sd&oacute;ttir - RoR & HTML/CSS code
          %li Stef&aacute;n Vignir Skarph&eacute;&eth;insson - HTML/CSS code
          %li Andri Sigur&eth;sson - HTML/CSS code, design
          %li Francoise Le Marchand - Translations
          %li Fannar Freyr J&oacute;nsson - RoR code
          %li J&oacute;n Dal - RoR Code
          %li Derek Sozou - HTML/CSS code
          %li Dave Parsons - Brain, code
          %li Tom Etherington - Logo, graphics
          %li Sigit Saptari - HTML/CSS code
