#sib_idea_container
  margin-bottom: 20px
  .sib_left
    float: left
    width: 540px
    min-height: 70px
  .sib_category_logo
    float: left
    width: 55px
    min-height: 70px
  .sib_position
    width: 45px
    min-height: 70px
    float: left
  .sib_idea
    float: top
  .sib_right
    float: right
    width: 290px
    min-height: 70px
  .sib_debate_buttons
  .sib_social
  .debate_button
    float: left

#sib_points_overview
  .sib_left
    float: left
    width: 85px
    min-height: 70px
  .sib_right
    float: right

.idea_name,.idea_name_add
  font-weight: bold
  margin-bottom: 2px
  margin-right: 1px
  font-size: 1.2em!important
  font-family: helvetica,arial,sans-serif!important
  padding-bottom: 2px

.idea_name_related
  font-size: 1.1em
  font-weight: bold
  margin-bottom: 2px

.idea_add,.idea_add_follow,.idea_add_ignore
  font-weight: normal!important
  text-transform: uppercase
  font-size: 11px
  padding: 0
  margin-top: 3px

.idea_remove
  font-weight: bold
  text-transform: uppercase
  font-size: 9px
  padding: 1px 2px 1px 3px
  margin: 0 3px 0 0

.idea_remove_oppose
  font-weight: bold
  text-transform: uppercase
  font-size: .7em
  padding: 1px 2px 1px 3px
  margin: 0 3px 0 0

.idea_position
  font-weight: bold
  float: right
  padding-left: 7px
  padding-right: 2px

.idea_inactive,.portlet .idea_inactive
  padding-top: 10px
  font-size: 1.3em
  text-align: center

.single2 .idea_inactive
  padding-top: 10px
  font-size: 1.3em
  text-align: left

.your_idea_position
  font-size: 2em
  padding-top: 3px

.position_new
  font-weight: bold
