.onecol {
width: 3.95%;
}

.twocol {
width: 10.3%;
}

.threecol {
width: 16.6%;
}

.fourcol {
width: 22.9%;
}

.fivecol {
width: 29.25%;
}

.sixcol {
width: 35.55%;
}

.sevencol {
width: 41.85%;
}

.eightcol {
width: 48.2%;
}

.ninecol {
width: 54.5%;
}

.tencol {
width: 60.8%;
}

.elevencol {
width: 67.1%;
}

.twelvecol {
width: 73.45%;
}

.thirteencol {
width: 79.75%;
}

.fourteencol {
width: 86.05%;
}

.fifteencol {
width: 92.4%;
}

.sixteencol {
width:98.7%;
}