body
  background-image: url("/assets/new/bg.gif")
  background-position: center top
  background-repeat: repeat-y

#content_text
  background-image: url(/assets/new/content-text-bg.png)!important
  background-position: left top!important
  background-repeat: no-repeat

.flash_error,.flash_notice
  width: 100%
  text-align: center
  display: none
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  behavior: url(/assets/PIE.htc)
  position: relative

.flash_error span,.flash_notice span
  text-align: center

.close_notify
  white-space: nowrap
  float: right
  margin-right: 10px
  text-decoration: none
  color: #FFF!important

.link_current
  text-decoration: underline

.endorsement_row_edit
  position: relative

.comment_x
  position: relative
  float: right

.x
  position: relative

.activity_x
  float: right

.icon
  float: left
  position: absolute
  z-index: 0

#activities
  position: relative
  float: left

.fieldWithErrors input
  display: table

#errorExplanation

.tag_button
  text-transform: uppercase
  display: inline-block


.endorse_or
  text-align: center
  display: none

.big_x
  position: relative

.import_button
  text-align: center

.position_down
  background-image: url(/assets/red_down.gif)
  background-position: 17px 5px
  background-repeat: no-repeat
  position: relative
  text-align: center

.position_up
  background-image: url(/assets/green_up.gif)
  background-position: right center
  background-repeat: no-repeat
  position: relative
  text-align: center

.position_nochange
  text-align: center
  position: relative
  text-transform: capitalize

.idea_endorsement_count
  position: static

.table_header
  text-transform: uppercase

.bulletin_form
  float: right

.bulletin_form textarea
  height: 50px

#short_url
  width: 85px

#issue_nav_name
  text-transform: uppercase
  float: left

.comment,.comment_endorses,.comment_opposes
  background: none

.comment_more
  background: none

.comment_link
  background: url(/assets/new/comment-icon4.png) no-repeat left

.comment_link_add
  background: none
  position: relative

#contacts
  overflow: auto
  height: 300px

.home_issue_name
  text-transform: uppercase

.index_chart_legend
  text-transform: uppercase

.ac_results
  overflow: hidden
  z-index: 99999

.ac_results ul
  list-style-position: outside
  list-style: none

.ac_results li
  cursor: default
  display: block
  overflow: hidden

.ac_loading
  background: white url(/assets/indicator.gif) right center no-repeat

#nav
  z-index: -1

ul#menu,ul#idea_menu
  text-align: left
  list-style-type: none

ul#menu li,ul#menu_sub li,ul#menu_third li
  display: inline-block
  position: relative

.tab_subhead,.tab_subhead a

.tab_body
  display: none
  text-align: left

ul#menu li .tab_header

ul#menu li
  z-index: 20

ul#menu_sub li
  z-index: 17

ul#menu_third li
  z-index: 15

ul#menu li .tab_header a
  border: 0 solid #DDDDDD
  text-decoration: none
  float: left
  display: inline-block

ul#menu li.mega .tab_header a
  text-decoration: none
  float: left
  display: inline-block

ul#menu .tab_body
  position: absolute

ul#menu_sub .tab_body,ul#menu_third .tab_body
  position: absolute

ul#idea_menu div.tab_body
  position: absolute

ul#menu li.tab2 div.tab_body
  width: 410px

ul#menu li.tab3 div.tab_body
  width: 280px

ul#menu li.tab4 div.tab_body
  width: 420px

ul#menu li.tab5 div.tab_body
  width: 355px

ul#menu li.tab6 div.tab_body
  width: 240px

ul#menu li.tab7 div.tab_body
  width: 270px

#nav_sub
  z-index: -1

ul#menu_sub
  text-align: left
  list-style-type: none

ul#menu_sub li .tab_header a
  text-decoration: none

ul#menu_sub li.mega .tab_header a
  text-decoration: none
  background: transparent url(/assets/mega_down_arrow.gif) center right no-repeat

ul#idea_menu li.mega .tab_header a
  background-color: none
  background: url(/assets/mega_down_arrow.gif) no-repeat scroll right center

ul#idea_menu li.tab4 div.tab_body
  width: 90px

ul#idea_menu li.tab6 div.tab_body
  width: 110px

ul#idea_menu li.tab10 div.tab_body
  width: 230px

.users_button
  position: relative

.search_results ul li
  list-style: none

#search
  position: relative

#search-id
  float: left

.search_results #left
  float: left

.search_results #right
  float: right

.match
  color: red

.tab_body a
  text-align: left

ul#menu li.mega .tab_header a:hover,ul#menu li.mega.hovering .tab_header a,ul#menu_sub li.mega .tab_header a:hover,ul#menu_sub li.mega.hovering .tab_header a,ul#menu_third li.mega .tab_header a:hover,ul#menu_third li.mega.hovering .tab_header a,ul#idea_menu li.mega .tab_header a:hover,ul#idea_menu li.hovering .tab_header a
  -moz-background-clip: border!important
  -moz-background-inline-policy: continuous!important
  -moz-background-origin: padding!important
  background: url(/assets/mega_down_arrow_white.gif) no-repeat scroll right center
  color: #FFFFFF

ul#menu_sub .tab_header a:hover,ul#menu_third .tab_header a:hover,.ac_over,ul#menu .tab_header a:hover,ul#menu li .tab_header a:hover,ul#idea_menu li .tab_header a:hover,ul#idea_menu li .tab_header a:hover
  -moz-background-clip: border
  -moz-background-inline-policy: continuous
  -moz-background-origin: padding
  background-color: #eef2f4!important

#intro,#buzz_box,#not_activated,#notification_show,#errorExplanation,.bulletin_form,.change_vote_now,#contacts,#contacts_small,.invite_text,.notice
  background-color: #fff
  background: none
  border: 0 solid #DDDDDD!important

input,textarea,#contacts,#contacts_small,.invite_text,.ac_results,.magnifier_wrap,.change_vote_now,.idleField
  background-color: #fff
  border: 1px solid #DDDDDD
  -webkit-border-radius: .4em
  -moz-border-radius: .4em
  border-radius: .4em

#new_idea_button
  cursor: pointer

#point_name,#custom_tags,#point_website
  border: 1px solid #ccc!important

#pointContent
  border: 1px solid #ddd!important

#ideaContent
  border: 1px solid #ddd!important

.yes_and_no_points_link_hacky a
  text-decoration: underline

.notification_icon
  float: left
  position: relative

.field_with_errors
  border: 1px solid red!important
  display: inline-block!important

.button_small_li
  list-style: none
  float: left
  width: auto

#message_to_users
  background: url(/assets/new/information_box_bg.png) repeat-x
  background-color: #fffceb
  -moz-border-radius: 7px
  -webkit-border-radius: 7px
  border-radius: 7px
  behavior: url(/assets/PIE.htc)
  position: relative

.close_notify2
  float: right
  white-space: nowrap

.information_icon
  position: absolute

.comment_report
  float: right

#activities .comment_report
  float: right
  position: absolute

.border_miss_avatar
  height: 35px
  width: 35px

.border_miss_avatar48
  height: 48px
  width: 48px

.image_96
  width: 96px
  height: 96px

.content
  background-image: url(/assets/new/content-text-bg.png)!important
  background-position: left top!important
  background-repeat: no-repeat

.submit_button
  background-image: url(/assets/new/bg_submit.png)
  background-repeat: repeat-x

  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  behavior: url(/assets/PIE.htc)
  position: relative
  border: solid #FFF 1px
  box-shadow: 0 0 2px #000
  -moz-box-shadow: 0 0 2px #000
  -webkit-box-shadow: 0 0 2px #000
  width: auto!important
  cursor: pointer

.category_icon
  width: 55px

.portlet-content .comment_link_add
  position: relative

.fblike
  float: left
  position: relative

.button_count .like_button_dark .like_button_no_like .liketext,.button_count .connect_widget_like_button .liketext
  float: right

.category
  float: left

.single .category_list
  position: absolute

.single .category
  position: absolute

.idea_report
  float: right

.idea_name_link
  display: inline!important

.endorse
  position: absolute
  float: left

.oppose
  position: absolute
  float: left

.add_point_for
  position: absolute
  float: left

.add_point_against
  position: absolute
  float: left


.green_button_idea,.red_button_idea
  position: absolute
  float: left

#first_points
  float: left

#new_button .button-to
  float: left

.ui-state-default,.ui-widget-content .ui-state-default
  background: url(none) repeat-x scroll 50% 50% #f0f0f0!important
  border: 1px solid #ddd!important


.red
  color: #BC0000
  position: relative

.ui-corner-all
  -moz-border-radius: 1px

#main-portal-div
  margin-top: 2px!important
  background-color: #FFF

.focusField
  border: 1px solid red

.point_supports_label,.point_opposes_label
  position: relative


.clearfix:after,.container:after
  content: "\0020"
  display: block
  height: 0
  clear: both
  visibility: hidden
  overflow: hidden

.clearfix,.container
  display: inline-block

.clear
  clear: both

#encouragements
  width: 339px
  border: 0 solid #99f

.notification_show_footer .idea_add
  text-transform: uppercase

div.addwrapper
  background-color: #FFFFFF
  background-image: url(/assets/add-button.png)!important
  background-position: left top!important
  background-repeat: no-repeat
  border: medium none


.top-level-table,.show-table
  border-collapse: collapse

.border
  border-bottom: 1px solid #ddd

body.portal-index #content_text
  background: none
  background-repeat: no-repeat


span#endorse-title
  background-image: url(/assets/new/add-endorse.png)!important
  background-position: left top!important
  background-repeat: no-repeat

span#oppose-title
  background-image: url(/assets/new/add-oppose.png)!important
  background-position: left top!important
  background-repeat: no-repeat

.header-add .idea_add
  float: right

ul#idea_menu li .tab_header a:hover,ul#idea_menu li .tab_header a:hover
  background: none no-repeat scroll 0 0
  color: #FFFFFF

.box_style
  position: relative
  behavior: url(/assets/PIE.htc)
  -moz-border-radius: 8px
  -webkit-border-radius: 8px
  border-radius: 8px
  border: solid 1px #CCC

.activity_border,.activity_hidden
  border: none
  overflow: hidden

.comment_box
  min-height: 30px
  border-radius: 1em 1em 1em 1em
  background-color: #f4f4f4

div.buddy-icon
  float: left

div.delete-comment
  clear: both
  text-align: right

.comment_link_add textarea
  border: none
  background: none

.new_comment_facebook
  position: relative
  text-align: right

span.idea_add_follow a,span.idea_add_ignore a
  float: left
  text-decoration: none

span.idea_add_ignore a,.idea_remove2
  background: #fff!important
  border: 1px solid #ccc!important
  width: auto

span.idea_add_follow a,.idea_add_link
  background: #FFF
  border: 1px solid #CCC
  width: auto
  float: left

.opposed,.red_button,.idea_remove_oppose
  background-color: #e49e6e
  -webkit-border-radius: .4em
  -moz-border-radius: .4em
  border-radius: .4em

.green_button,.idea_remove,.endorsed
  background-color: #A0C47D!important
  border: solid 1px #439A22!important
  -webkit-border-radius: .4em
  -moz-border-radius: .4em
  border-radius: .4em

.idea_remove1
  background-color: #FFF!important
  border: solid 1px #CCC!important

.flash_notice
  background-color: #003399

.idea_remove_oppose,.idea_remove,.idea_remove1,.idea_remove2
  text-transform: uppercase
  border: solid 1px #B92D19
  float: left

div.userwrap
  background-image: url(/assets/new/user-bg3.png)!important
  background-position: top!important
  background-repeat: no-repeat
  position: relative
  z-index: 0

div.userwrap2
  background-color: #F0F2F5
  background-image: url(/assets/new/user-bg3.png)!important
  -moz-border-radius: 7px
  -webkit-border-radius: 7px
  border-radius: 7px
  behavior: url(/assets/PIE.htc)
  position: relative
  background-position: top!important
  background-repeat: no-repeat
  z-index: 0

#user_info_box
  border: 0 solid #DDDDDD

#next_steps_box ol
  list-style-position: inside

.sub_header
  border-bottom: solid 1px #EEE

.profile_picture96
  float: left

.list_left
  float: left
  list-style: none

.list_right
  list-style: none
  float: right

.list_report
  float: right
  list-style: none

.list_idea_overview
  float: left
  list-style: none

.idea_icon_single
  text-align: center

.warning_inline,.single .warning_inline,.single2 .warning_inline,.single3 .warning_inline,.warning_inline2,.warning_inline_point
  background-color: #f99
  float: right
  color: #FFF
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  behavior: url(/assets/PIE.htc)
  position: relative
  min-width: 200px
  max-width: 370px
  text-align: center
  left: 0
  z-index: 1000

.warning_inline2
  float: none!important
  left: none!important

.warning_inline_point
  float: left

.single .warning_inline
  min-width: 200px

.single2 .warning_inline2
  max-width: 400px!important

.single3 .warning_inline


#idea_category li
  list-style-type: none

#nav a:hover
  text-decoration: underline!important

ul#menu,ul#menu1,ul#menu_sub,ul#menu_third
  width: 100%
  float: left

ul#menu1
  width: 100%
  float: right
  z-index: 500

ul#menu_third
  border-top: 0 solid #e5e5e5

ul#menu li,ul#menu1 li,ul#menu_sub li,ul#menu_third li
  display: inline
  height: auto
  left: 0
  position: relative
  top: 0
  float: left
  padding: 0

ul#menu1 li
  display: inline
  height: auto
  left: 0
  position: relative
  top: 0
  float: right
  padding: 0
  z-index: 500

ul#menu li .tab_header,ul#menu_sub li .tab_header,ul#menu_third li .tab_header
  display: inline-block
  float: left
  background-image: url(/assets/new/menu-div-bg.png)
  background-repeat: no-repeat
  background-position: right center

#nav ul#menu li .tab_header
  background-position: right center
  background-repeat: no-repeat
  display: inline-block
  float: left


#nav_sub ul#menu_sub .tab_header a,ul#menu_third .tab_header a
  border: 0 solid #DDDDDD
  text-decoration: none

ul#menu li .tab_header a,ul#menu li.hovering div.tab_body,ul#menu_sub li .tab_header a,ul#menu_sub li.hovering div.tab_body,ul#menu_third li .tab_header a,ul#menu_third li.hovering div.tab_body,ul#idea_menu li.hovering div.tab_body
  float: left

#nav0 li.tab0 .tab_header a,#nav1 li.tab1 .tab_header a,#nav2 li.tab2 .tab_header a,#nav3 li.tab3 .tab_header a,#nav4 li.tab4 .tab_header a,#nav5 li.tab5 .tab_header a,#nav6 li.tab6 .tab_header a,#nav7 li.tab7 .tab_header a,#nav8 li.tab8 .tab_header a
  background-color: #eef2f4
  background-image: url(/assets/new/menu-active-bg.png)
  background-repeat: no-repeat
  background-position: center bottom
  text-decoration: none
  float: left
  display: inline-block

ul#menu li.mega .tab_header a,ul#menu1 li.mega .tab_header a,ul#menu_sub li.mega .tab_header a,ul#menu_third li.mega .tab_header a
  background: url(/assets/mega_down_arrow.gif) no-repeat scroll right center transparent

ul#menu1 li.mega .tab_header a
  text-decoration: none
  float: left
  display: inline-block

ul#menu1 .tab_body
  position: absolute
  right: 0
  top: 10px
  width: 190px
  z-index: 5
  background-color: transparent

ul#menu li .tab_body
  border: 1px solid #666
  border-top: 0

#nav_third_1 li.tab1 .tab_header a,#nav_third_2 li.tab2 .tab_header a,#nav_third_3 li.tab3 .tab_header a,#nav_third_4 li.tab4 .tab_header a,#nav_third_5 li.tab5 .tab_header a,#nav_third_6 li.tab6 .tab_header a,#nav_third_7 li.tab7 .tab_header a,#nav_third_8 li.tab8 .tab_header a,#nav_third_9 li.tab9 .tab_header a,#nav_third_10 li.tab10 .tab_header a,#nav_third_11 li.tab1 .tab_header a,#nav_third_12 li.tab2 .tab_header a,#nav_third_13 li.tab3 .tab_header a,#nav_third_14 li.tab4 .tab_header a
  background-color: #eef2f4
  text-decoration: none
  float: left
  display: inline-block

#nav_sub_0 li.tab0 .tab_header a,#nav_sub_1 li.tab1 .tab_header a,#nav_sub_2 li.tab2 .tab_header a,#nav_sub_3 li.tab3 .tab_header a,#nav_sub_4 li.tab4 .tab_header a,#nav_sub_5 li.tab5 .tab_header a,#nav_sub_6 li.tab6 .tab_header a,#nav_sub_7 li.tab7 .tab_header a,#nav_sub_8 li.tab8 .tab_header a,#nav_sub_9 li.tab9 .tab_header a,#nav_sub_10 li.tab10 .tab_header a
  background-color: #eef2f4
  text-decoration: none
  float: left
  display: inline-block

#sib_login_form,#hide #endorse_oppose,.point_name span,.invisible
  display: none

.endorsement_down,.endorsement_down a
  text-decoration: line-through

.green_button,.red_button
  text-align: center

.comment_content,.message_content
  overflow: hidden

.pagination .current,.ajax_pagination .current


ul#menu li.hovering div.tab_body,ul#menu_sub li.hovering div.tab_body,ul#menu_third li.hovering div.tab_body,ul#idea_menu li.hovering div.tab_body,ul#menu1 li.hovering div.tab_body
  display: block
  z-index: 10

#network_sidebar td,.top_position
  vertical-align: top

#user_info_box_picture,#scroll_in_portal ul.right,img.point_report,.point_fblike,.characters
  float: right

#idea_category input,#idea_category2 input,#point_supports input,#point_opposes input
  background-color: transparent!important
  border: none!important

.add_point_endorse
  background-image: url(/assets/buttons/button_add_point_for_up.png) !important
  background-repeat: no-repeat
  width: 123px !important
  height: 35px !important

.add_point_oppose
  background-image: url(/assets/buttons/button_add_point_against_up.png) !important
  background-repeat: no-repeat !important
  width: 153px !important
  height: 35px !important
