body, input, select, textarea
  font-family: "Open sans", Helvetica, Arial, Sans-serif
  font-size: 14px
  line-height: 1.5em
  color: #333333

h1, h2, h3
  color: #333333
  margin: 0 0 1em 0
  line-height: 1em
  font-weight: 700

h1
  font-size: 24px

h2
  font-size: 18px

h3
  font-size: 14px

.small_text
  font-size: 12px

hr
  color: #ddd
  background-color: #ddd
  border: 1px
  height: 2px