#sib_top_banner
  height: 90px
  .background
    position: absolute
    top: 0px
    left: 0px
    z-index: 1
  .top_navigation
    position: absolute
    top: 10px
    left: 250px
    z-index: 100

#sib_top_navigation
  width: 520px
  border: 1px dotted #000

.sprite_clip
  position: absolute
  z-index: 5000
  margin-left: 15px

.home_pos
  clip: rect(0 50px 50px 0)
  left: 0px

.home_pos_selected
  clip: rect(0 100px 50px 50px)
  left: -50px
// Top, Right, Bottom, Left
.ideas_pos
  clip: rect(50px 50px 100px 0px)

.ideas_pos_selected
  clip: rect(50px 100px 100px 50px)
  left: -50px

.points_pos
  clip: rect(100px 50px 150px 0px)

.points_pos_selected
  clip: rect(100px 100px 150px 50px)
  left: -50px

.feed_pos
  clip: rect(150px 50px 200px 0px)

.feed_pos_selected
  clip: rect(150px 100px 200px 50px)
  left: -50px

.people_pos
  clip: rect(200px 50px 250px 0px)

.people_pos_selected
  clip: rect(200px 100px 250px 50px)
  left: -50px

.categories_pos
  clip: rect(250px 50px 300px 0px)

.categories_pos_selected
  clip: rect(250px 100px 300px 50px)
  left: -50px