#sib_side_nav
  text-align: center
  ul
    margin-left: 17px
    margin-right: 0px
  li
    padding-bottom: 10px
    width: 70px
    span
      padding-right: 3px

.sprite_clip
  background: no-repeat
  height: 44px
  width: 44px
  margin-left: auto
  margin-right: auto


.home_pos
  background-position: 0px 0px
//  left: 0px

.home_pos_selected a.hover
  background-position: -50px 0px

// Top, Right, Bottom, Left
.ideas_pos
  background-position: 0px -50px

.ideas_pos_selected
  background-position: -50px -50px

.points_pos
  background-position: 0px -100px

.points_pos_selected
  background-position: -50px -100px

.feed_pos
  background-position: 0px -150px

.feed_pos_selected
  background-position: -50px -150px

.people_pos
  background-position: 0px -200px

.people_pos_selected
  background-position: -50px -200px

.categories_pos
  background-position: 0px -250px

.categories_pos_selected
  background-position: -50px -250px
