#sib_sub_nav
  background: #a0a5ad
  height: 43px
  color: white
  font-weight: bold
  margin-bottom: 20px
  -moz-border-radius: 3px
  -webkit-border-top: 3px
  border-radius: 3px

html>/**/ #sib_sub_nav
  behavior: url(/assets/PIE.htc)

  img
    margin-left: 50px
    margin-right: 50px

#general_form
  -moz-border-radius: 3px
  -webkit-border-top: 3px
  border-radius: 3px
  behavior: url(/assets/PIE.htc)
  display: none
  background-color: #fff
  position: absolute
  width: 100px
  z-index: 100
  border: 1px solid #666
  text-align: left
  padding: 0px
  margin-top: 0px
  color: #789
  font-size: 11px
  p
    margin: 0
  a
    color: #fff
  label
    font-weight: normal
  p
    &.remember
      padding: 10px 0
    &.forgot, &.complete
      clear: both
      margin: 5px 0
    a
      color: #27B!important

#sub_menu
  @extend #general_form
  background-color: #a0a5ad
  margin-left: 78px
  margin-top: 6px
  display: none
  width: 150px
  li
    margin: 5px 5px 5px 5px

#section_title
  color: #fff
  font-size: 18px
  padding: 10px 0px 0px 10px
  a
    color: #fff !important
  a.pulldown_trigger
    padding: 4px 30px 4px 5px
    margin: 0px 0px 8px 0px
    z-index: 500
    background-image: url(/assets/white_arrow_down.png)
    background-repeat: no-repeat
    background-position: 95% 55%

.flash_notice, .flash_error
  width: 100%
  font-size: 16px
  color: white
  margin-bottom: 15px
  background: #A0A5AD
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  behavior: url(/assets/PIE.htc)

.flash_error
  background: #ADA5A0

.flash_notice a, .flash_error a
  padding-right: 8px
  padding-top: 2px
  color: white

.flash_notice span, .flash_error span
  padding-top: 3px
  padding-bottom: 3px
  padding-left: 8px
  display: block

.close_notify
  float: right
  font-weight: bold

