#sib_top_banner
  height: 90px
  .background
    position: absolute
    top: 0px
    left: 0px
    z-index: 1
  .top_navigation
    position: absolute
    top: 10px
    left: 250px
    z-index: 100

#sib_top_navigation
  width: 520px

#container
  width: 780px
  margin: 0 auto

#content
  width: 520px
  min-height: 500px

a
  &:link, &:visited
    color: #27b
    text-decoration: none
  &:hover
    text-decoration: underline
  img
    border-width: 0

#topnav
  padding: 0
  position: relative
  top: 50px
  right: 15px
  font-size: 11px
  line-height: 23px
  text-align: right
  a.signin_button
    padding: 4px 0 4px 4px
    margin-right: 10px
    text-decoration: none
    font-weight: bold
    color: #fff
    -webkit-border-radius: 4px
    -moz-border-radius: 4px
    border-radius: 4px
    *background: transparent url("/assets/top_navigation/signin-nav-bg-ie.png") no-repeat 0 0
    *padding: 4px 12px 6px
    &:hover
      background: #ccc
      *background: transparent url("/assets/top_navigation/signin-nav-bg-hover-ie.png") no-repeat 0 0
      *padding: 4px 12px 6px
      *background-position: 0 3px!important
    *background-position: 0 3px!important
  a.signin
    @extend .signin_button
  a.notifications
    @extend .signin_button
  a.new_idea
    @extend .signin_button
    padding: 25px 0px 4px 4px
    background: url("/assets/top_navigation/idea_bulb.png") no-repeat 20px 0px
    &:hover
      background: url("/assets/top_navigation/idea_bulb.png") no-repeat 20px 0px #ccc


  a.help
    @extend .signin_button
  a.profile
    @extend .signin_button

a.signin_arrow
  position: relative
  span
    padding: 4px 2px 4px 0

a.signin
  @extend .signin_arrow

a.notifications
  @extend .signin_arrow

a.help
  @extend .signin_arrow

a.profile
  @extend .signin_arrow

#topnav a.menu-open
  background: #ccc!important
  color: #666!important
  outline: none

#small_signup
  display: inline
  float: none
  line-height: 23px
  margin: 25px 0 0
  width: 170px

#general_form
  -moz-border-radius-topleft: 3px
  -moz-border-radius-topright: 3px
  -moz-border-radius-bottomleft: 3px
  -moz-border-radius-bottomright: 3px
  -webkit-border-top-left-radius: 3px
  -webkit-border-top-right-radius: 3px
  -webkit-border-bottom-left-radius: 3px
  -webkit-border-bottom-right-radius: 3px
  display: none
  background-color: #fff
  position: absolute
  width: 225px
  z-index: 100
  border: 1px solid #1931B9
  text-align: left
  padding: 0px
  margin-left: -8px
  *margin-left: -15px
  margin-top: 0px
  color: #789
  font-size: 11px
  input
    &[type=text], &[type=password]
      display: block
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
      border: 1px solid #ACE
      font-size: 13px
      margin: 0 0 5px
      padding: 5px
      width: 203px
  p
    margin: 0
  a
    color: #6AC
  label
    font-weight: normal
  p
    &.remember
      padding: 10px 0
    &.forgot, &.complete
      clear: both
      margin: 5px 0
    a
      color: #27B!important

#sib_notifications
  @extend #general_form
  display: none
  border: 0

#sib_login_form
  @extend #general_form
  display: none
  margin-left: 276px !important
  margin-top: 8px !important
  padding: 10px 0px 0px 10px

#sib_profile
  @extend #general_form
  display: none
  margin-left: 251px !important
  margin-top: 3px !important

#sib_help
  @extend #general_form
  display: none
  margin-left: 348px !important
  margin-top: 3px !important
  padding: 10px 0px 0px 10px

.magnifier_wrap
  height: 20px
  margin-top: -4px
  margin-left: 5px

.magnifier_box
  float: top

a.signin.menu-open a.notifications.menu-open span
  background-image: url("/assets/top_navigation/toggle_up_dark.png")
  color: #789

#signin_submit
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  background: #3399dd url('/assets/top_navigation/bg-btn-blue.png') repeat-x scroll 0 0
  border: 1px solid #39D
  color: #fff
  text-shadow: 0 -1px 0 #3399dd
  padding: 4px 10px 5px
  font-size: 11px
  margin: 0 5px 0 0
  font-weight: bold
  &::-moz-focus-inner
    padding: 0
    border: 0
  &:hover, &:focus
    background-position: 0 -5px
    cursor: pointer

.tipsy-inner
  padding: 10px 15px
  line-height: 1.5em
  font-weight: bold

.ie6 .tipsy
  width: 250px

.signup-tip
  line-height: 18px
  margin: 30px 0
  color: #333
  a
    font-weight: bold
