/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/link_delete.png", :width => "16"}/
= raw tr("{user_name} decided not to hold a vote on {new_idea_name} acquiring {idea_name}", "view/activities/_activityideaacquisitionproposaldeleted", :user_name => link_to(activity.user.login, activity.user), :idea_name => link_to(activity.idea.name, activity.idea), :new_idea_name => link_to(activity.change.new_idea.name, activity.change.new_idea))
