%img.icon{:border => "0", :height => "16", :src => "/assets/icons/lightbulb.png", :width => "16"}/
= raw tr("{user_name} first suggested this priority", "view/activities/_activityprioritynew_noself", :user_name => link_to(activity.user.login, activity.user), :priority_name => link_to(activity.priority.name, activity.priority))
