%img.icon{:border => "0", :height => "16", :src => "/assets/icons/cancel.png", :width => "16"}/
= raw tr("Buried {priority_name}. It's probably obvious why.", "view/activities/_activityprioritybury_nouser", :priority_name => link_to(activity.priority.name, activity.priority))
