%img.icon{:border => "0", :height => "16", :src => "/assets/icons/delete.png", :width => "16"}/
= raw tr("Opposed {new_priority_name} instead of opposing {priority_name}", "view/activities/_activityoppositionflipped_nouser", :priority_name => link_to(activity.priority.name, activity.priority), :new_priority_name => link_to(activity.change.new_priority.name, activity.change.new_priority))
