- if activity.revision.has_other_priority?
  %img.icon{:border => "0", :height => "16", :src => "/assets/icons/comments_add.png", :width => "16"}/
  = raw tr("{user_name} linked {point_name} to {priority_name}", "view/activities/_activitypointrevisionotherpriority_noself", :user_name => link_to(activity.user.login, activity.user), :point_name => link_to(activity.point.name, point_revision_url(activity.point,activity.revision)), :priority_name => link_to(activity.revision.other_priority.name, activity.revision.other_priority))
  \.
- else
  %img.icon{:border => "0", :height => "16", :src => "/assets/icons/comments_delete.png", :width => "16"}/
  = raw tr("{user_name} removed the priority link from {point_name}", "view/activities/_activitypointrevisionotherpriority_noself", :user_name => link_to(activity.user.login, activity.user), :point_name => link_to(activity.point.name, point_revision_url(activity.point,activity.revision)))
  \.
