%img.icon{:border => "0", :height => "16", :src => "/assets/fugue/star.png", :width => "16"}/
= tr("{priority_name}'s status was updated: {subject}", "model/activity", subject: activity.priority_status_change_log.subject, priority_name: link_to(activity.priority.name, activity.priority))
