/%img.icon{:border => "0", :height => "16", :src => "/assets/icons/link_add.png", :width => "16"}/
= raw tr("{new_idea_name} acquired {idea_name}", "view/activities/_activityideaacquisitionproposalapproved", :idea_name => link_to(activity.idea.name, activity.idea), :new_idea_name => link_to(activity.change.new_idea.name, activity.change.new_idea)) if activity.idea and activity.change.new_idea
