%img.icon{:border => "0", :height => "16", :src => "/assets/icons/error.png", :width => "16"}/
= raw tr("{user_name} flagged {priority_name} for review", "view/activities/_activitypriorityflaginappropriate", :user_name => link_to(activity.user.login, activity.user), :priority_name => link_to(activity.priority.name, activity.priority))
