%img.icon{:border => "0", :height => "16", :src => "/assets/fugue/star_half.png", :width => "16"}/
= tr("{priority_name} was completed with a compromise", "model/activity", :priority_name => link_to(activity.priority.name, activity.priority))
