%img.icon{:border => "0", :height => "16", :src => "/assets/icons/delete.png", :width => "16"}/
- if activity.has_ad?
  - if activity.attribute_present?("position")
    = raw tr("{user_name} opposed {priority_name} at priority {position} due to <a href='{ad_url}'>{ad_user} ad</a>", "view/activities/_activityoppositionnew", :user_name => link_to(activity.user.login, activity.user), :priority_name => link_to(activity.priority.name, activity.priority), :position => activity.position, :ad_url => priority_ad_path(activity.priority,activity.ad), :ad_user => activity.ad.user.name.possessive)
  - elsif activity.priority
    = raw tr("{user_name} opposed {priority_name} due to <a href='{ad_url}'>{ad_user} ad</a>", "view/activities/_activityoppositionnew", :user_name => link_to(activity.user.login, activity.user), :priority_name => link_to(activity.priority.name, activity.priority), :ad_url => priority_ad_path(activity.priority,activity.ad), :ad_user => activity.ad.user.name.possessive)
- else
  - if activity.attribute_present?("position")
    = raw tr("{user_name} opposed {priority_name} at priority {position}", "view/activities/_activityoppositionnew", :user_name => link_to(activity.user.login, activity.user), :priority_name => link_to(activity.priority.name, activity.priority), :position => activity.position)
  - elsif activity.priority
    = raw tr("{user_name} opposed {priority_name}", "view/activities/_activityoppositionnew", :user_name => link_to(activity.user.login, activity.user), :priority_name => link_to(activity.priority.name, activity.priority))
