%img.icon{:border => "0", :height => "16", :src => "/assets/icons/comment.png", :width => "16"}/
= raw tr("{user_name} posted a comment", "view/activities/_activityprioritycommentnew_noself", :user_name => link_to(activity.user.login, activity.user), :priority_name => link_to(activity.priority.name, activity.priority))
