%img.icon{:border => "0", :height => "16", :src => "/assets/icons/page_white_text.png", :width => "16"}/
= raw tr("{user_name} added {point_name} to {idea_name}", "view/activities/_activitydocumentnew_noself", :user_name => link_to(activity.user.login, activity.user), :point_name => link_to(activity.document.name, activity.document), :idea_name => link_to(activity.idea.name, activity.idea))
