%img.icon{:border => "0", :height => "16", :src => "/assets/icons/lightbulb.png", :width => "16"}/
= raw tr("Suggested {priority_name} as a new priority", "view/activities/_activityprioritynew_nouser", :priority_name => link_to(activity.priority.name, activity.priority))
