%img.icon{:border => "0", :height => "16", :src => "/assets/icons/delete.png", :width => "16"}/
= raw tr("Stopped endorsing {priority_name}", "view/activities/_activityendorsementdelete_nouser", :priority_name => link_to(activity.priority.name, activity.priority))
