%img.icon{:border => "0", :height => "16", :src => "/assets/icons/error.png", :width => "16"}/
= raw tr("{user_name} flagged this priority for review", "view/activities/_activitypriorityflaginappropriate_noself", :user_name => link_to(activity.user.login, activity.user), :priority_name => link_to(activity.priority.name, activity.priority))
