%img.icon{:border => "0", :height => "16", :src => "/assets/icons/page_white_edit.png", :width => "16"}/
= raw tr("Revised {point_name} to indicate it's supportive of {idea_name}", "view/activities/_activitydocumentrevisionsupportive_nouser", :point_name => link_to(activity.document.name, document_revision_url(activity.document,activity.document_revision)), :idea_name => link_to(activity.idea.name, activity.idea))
