%img.icon{:border => "0", :height => "16", :src => "/assets/icons/page_white_edit.png", :width => "16"}/
= raw tr("{user_name} revised {point_name}", "view/activities/_activitydocumentrevisioncontent_noself", :user_name => link_to(activity.user.login, activity.user), :point_name => link_to(activity.document.name, document_revision_url(activity.document,activity.document_revision)))
