%img.icon{:border => "0", :height => "16", :src => "/assets/icons/medal_gold_2.png", :width => "16"}/
= raw tr("This is the fastest rising priority", "view/activities/_activitypriorityrising", :priority_name => link_to(activity.priority.name, activity.priority))
